IoT/Node-RED/flows.json
[{"id":"216f70df.b59ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d5694f54.75ff9","type":"mqtt in","z":"216f70df.b59ae","name":"","topic":"deepstream/#","qos":"2","datatype":"auto","broker":"76e66882.fbe958","nl":false,"rap":true,"rh":0,"x":90,"y":320,"wires":[["a7b09ee2.437c8"]]},{"id":"f96b616e.d90e8","type":"function","z":"216f70df.b59ae","name":"Determine Drowsiness","func":"var arr = msg.payload;\nvar count = 0;\n\nfor (var i = 0; i < arr.length; i++) {\n    if (arr[i] === \"Yawn\" || arr[i] === \"EyesClosed\") {\n        \n        count++;\n    }\n}\n\nif (count > 3) {\n    msg.payload = \"Drowsy\";\n} else {\n    msg.payload = \"Normal\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":460,"wires":[["110c271c.d8d4a9","e1ba9300.a22bf"]]},{"id":"a7b09ee2.437c8","type":"delay","z":"216f70df.b59ae","name":"Read Every 1 Second","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":320,"wires":[["85fec5a5.e0b658","c31e9ace.4c5458"]]},{"id":"85fec5a5.e0b658","type":"join","z":"216f70df.b59ae","name":"Combine last n messages","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":460,"wires":[["f96b616e.d90e8"]]},{"id":"110c271c.d8d4a9","type":"mqtt out","z":"216f70df.b59ae","name":"","topic":"drowsy","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"76e66882.fbe958","x":1140,"y":460,"wires":[]},{"id":"5a1338c5.797628","type":"MSSQL","z":"216f70df.b59ae","mssqlCN":"ad79d061.15834","name":"DriverAware","outField":"payload","returnType":0,"throwErrors":1,"query":"INSERT INTO RecordedIncident\nVALUES(@time, 'Yawn', 1.32, 103.919, 1)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"time","type":"DateTime","valueType":"msg","value":"payload.time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"type","type":"VarChar","valueType":"msg","value":"payload.type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1150,"y":220,"wires":[["faef8dd5.44929"]]},{"id":"64b70414.d535fc","type":"inject","z":"216f70df.b59ae","name":"","props":[{"p":"payload.time","v":"$now()","vt":"jsonata"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":850,"y":40,"wires":[["5a1338c5.797628","f86b709.ca1499"]]},{"id":"f86b709.ca1499","type":"debug","z":"216f70df.b59ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":80,"wires":[]},{"id":"ddd93cdd.f5cf9","type":"function","z":"216f70df.b59ae","name":"Format payload","func":"var type = msg.payload;\n\nmsg.payload = { 'type': type,\n                time: new Date() }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["5a1338c5.797628","3ccbf33.4b1320c"]]},{"id":"3ccbf33.4b1320c","type":"debug","z":"216f70df.b59ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":320,"wires":[]},{"id":"c31e9ace.4c5458","type":"switch","z":"216f70df.b59ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yawn","vt":"str"},{"t":"eq","v":"EyesClosed","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":160,"wires":[["ddd93cdd.f5cf9"],["ddd93cdd.f5cf9"]]},{"id":"bf8a0584.30a0c8","type":"inject","z":"216f70df.b59ae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yawn","payloadType":"str","x":310,"y":60,"wires":[["c31e9ace.4c5458"]]},{"id":"5620bdcb.7599b4","type":"comment","z":"216f70df.b59ae","name":"MQTT to M5Stack Stick C","info":"","x":310,"y":460,"wires":[]},{"id":"98b46777.6793d8","type":"comment","z":"216f70df.b59ae","name":"SQL to Azure DB","info":"","x":280,"y":160,"wires":[]},{"id":"597ced37.0a3194","type":"inject","z":"216f70df.b59ae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Drowsy","payloadType":"str","x":810,"y":300,"wires":[["110c271c.d8d4a9"]]},{"id":"3b6cfcd7.d6cac4","type":"inject","z":"216f70df.b59ae","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":850,"y":260,"wires":[["110c271c.d8d4a9"]]},{"id":"e1ba9300.a22bf","type":"debug","z":"216f70df.b59ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":620,"wires":[]},{"id":"cd2de2e0.cd0c4","type":"keypress","z":"216f70df.b59ae","key":"q","x":640,"y":900,"wires":[["81ad2c5.a75e9d","6f72472f.e53fa8"]]},{"id":"81ad2c5.a75e9d","type":"function","z":"216f70df.b59ae","name":"","func":"msg.payload = \"Drowsy\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":900,"wires":[["110c271c.d8d4a9"]]},{"id":"a54df3de.a814c","type":"function","z":"216f70df.b59ae","name":"","func":"msg.payload = \"Normal\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":860,"wires":[["110c271c.d8d4a9"]]},{"id":"9c8cf6f.5963108","type":"keypress","z":"216f70df.b59ae","key":"e","x":640,"y":860,"wires":[["a54df3de.a814c"]],"info":"Test"},{"id":"6f72472f.e53fa8","type":"debug","z":"216f70df.b59ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":980,"wires":[]},{"id":"faef8dd5.44929","type":"debug","z":"216f70df.b59ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1440,"y":300,"wires":[]},{"id":"76e66882.fbe958","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Node-Red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ad79d061.15834","type":"MSSQL-CN","tdsVersion":"7_4","name":"DriverAware","server":"driveraware.database.windows.net","port":"1433","encyption":true,"trustServerCertificate":true,"database":"DriverAwareDB_1","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true}]