IoT/Jetson Nano/Node-RED/ImprovedFlow.json
[{"id":"b0cb1a49.763a78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"624ee70f.c54628","type":"mqtt in","z":"b0cb1a49.763a78","name":"","topic":"deepstream/#","qos":"2","datatype":"auto","broker":"76e66882.fbe958","nl":false,"rap":true,"rh":0,"x":90,"y":320,"wires":[["b15e4016.b1789"]]},{"id":"3151b645.6b546a","type":"function","z":"b0cb1a49.763a78","name":"Startup","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nvar detectionMap = new Map([\n    ['EyesOpen', 0],\n    ['EyesClosed', 0],\n    ['Yawn', 0]\n    ])\n\nglobal.set(\"Map\", detectionMap);","finalize":"","libs":[],"x":80,"y":120,"wires":[[]]},{"id":"b88b71e5.d5335","type":"function","z":"b0cb1a49.763a78","name":"","func":"var input = msg.payload\n\nvar map = global.get(\"Map\")\nmap.set(input, map.get(input)+1)","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":320,"wires":[[]]},{"id":"1e5d9e05.5b3c62","type":"inject","z":"b0cb1a49.763a78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Yawn","payloadType":"str","x":90,"y":220,"wires":[["b15e4016.b1789"]]},{"id":"9fbed032.6ba5d","type":"timeframerlt","z":"b0cb1a49.763a78","name":"Check for yawns","throttleType":"count","timeLimit":"1.5","timeLimitType":"seconds","countLimit":"45","byresetcountLimit":0,"x":460,"y":260,"wires":[["b88b71e5.d5335"]]},{"id":"b15e4016.b1789","type":"switch","z":"b0cb1a49.763a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yawn","vt":"str"},{"t":"eq","v":"EyesClosed","vt":"str"}],"checkall":"false","repair":true,"outputs":2,"x":270,"y":320,"wires":[["9fbed032.6ba5d"],["3064766f.bf1bfa"]]},{"id":"3064766f.bf1bfa","type":"timeframerlt","z":"b0cb1a49.763a78","name":"Check for EyesClosed","throttleType":"count","timeLimit":"1.5","timeLimitType":"seconds","countLimit":"18","byresetcountLimit":0,"x":480,"y":380,"wires":[["b88b71e5.d5335"]]},{"id":"1b4bd0a4.5a97cf","type":"inject","z":"b0cb1a49.763a78","name":"","props":[],"repeat":"5","crontab":"","once":true,"onceDelay":"5","topic":"","x":410,"y":140,"wires":[["70f97ad3.a65a64"]]},{"id":"70f97ad3.a65a64","type":"function","z":"b0cb1a49.763a78","name":"","func":"var map = global.get(\"Map\")\n\n// Determine if drowsy\nif (map.get(\"Yawn\") >= 1 || map.get(\"EyesClosed\") >= 4) {\n    msg.payload = \"Drowsy\";\n} else {\n    msg.payload = \"Normal\";\n}\n\n// Reset counters\nmap.set(\"EyesClosed\", 0)\nmap.set(\"Yawn\", 0)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":140,"wires":[["7736dbb.4dc4524","90555ee5.b53ec"]]},{"id":"7736dbb.4dc4524","type":"mqtt out","z":"b0cb1a49.763a78","name":"","topic":"drowsy","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"76e66882.fbe958","x":800,"y":80,"wires":[]},{"id":"3fc23ada.ec1a76","type":"function","z":"b0cb1a49.763a78","name":"Format payload","func":"var type = msg.payload;\n\nmsg.payload = { 'type': type,\n                time: new Date() }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":180,"wires":[["88d7d84f.fef538"]]},{"id":"ecd9b9b8.b097c8","type":"MSSQL","z":"b0cb1a49.763a78","mssqlCN":"ad79d061.15834","name":"DriverAware","outField":"payload","returnType":"1","throwErrors":1,"query":"INSERT INTO RecordedIncident\nVALUES(@time, @type, 1.32, 103.919, 1)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","rows":"rows","rowsType":"msg","params":[{"output":false,"name":"time","type":"DateTime","valueType":"msg","value":"payload.time","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}},{"output":false,"name":"type","type":"VarChar","valueType":"msg","value":"payload.type","options":{"nullable":true,"primary":false,"identity":false,"readOnly":false}}],"x":1350,"y":180,"wires":[["c2d0d7c3.9a9778","7cb2efb3.a4c4e"]]},{"id":"90555ee5.b53ec","type":"switch","z":"b0cb1a49.763a78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Drowsy","vt":"str"}],"checkall":"true","repair":true,"outputs":1,"x":750,"y":180,"wires":[["3fc23ada.ec1a76"]]},{"id":"761e2c72.a77c74","type":"inject","z":"b0cb1a49.763a78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Drowsy","payloadType":"str","x":550,"y":40,"wires":[["90555ee5.b53ec","7736dbb.4dc4524"]]},{"id":"7cb2efb3.a4c4e","type":"debug","z":"b0cb1a49.763a78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":120,"wires":[]},{"id":"d702a195.4ac318","type":"link in","z":"b0cb1a49.763a78","name":"","links":["10ce59bb.a439ae","1fb46eb3.1ff741"],"x":1135,"y":280,"wires":[["88d7d84f.fef538"]]},{"id":"c2d0d7c3.9a9778","type":"function","z":"b0cb1a49.763a78","name":"get next","func":"node.send({topic: \"control\", payload: \"drop\"})\nmsg.topic = \"control\"\nmsg.payload = \"peek\"\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":180,"wires":[["10ce59bb.a439ae"]]},{"id":"10ce59bb.a439ae","type":"link out","z":"b0cb1a49.763a78","name":"","links":["d702a195.4ac318","603845f8.8e1aac"],"x":1515,"y":280,"wires":[]},{"id":"88d7d84f.fef538","type":"q-gate","z":"b0cb1a49.763a78","name":"q-gate","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"peek","dropCmd":"drop","statusCmd":"status","maxQueueLength":"100","keepNewest":false,"qToggle":false,"persist":true,"storeName":"memory","x":1150,"y":180,"wires":[["ecd9b9b8.b097c8"]]},{"id":"23c44820.fad398","type":"inject","z":"b0cb1a49.763a78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"control","payload":"peek","payloadType":"str","x":1050,"y":100,"wires":[["88d7d84f.fef538"]]},{"id":"76e66882.fbe958","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"Node-Red","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ad79d061.15834","type":"MSSQL-CN","tdsVersion":"7_4","name":"DriverAware","server":"driveraware.database.windows.net","port":"1433","encyption":true,"trustServerCertificate":true,"database":"DriverAwareDB_1","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true}]